/* colors */
$green: #AFFF93;
$dark: #232323;
$light: #eeeeee;

/* palettes */

/* blue */
$blue-primary: #134074;
$blue-secondary: #13315c;
$blue-dark: #0b2545;
$blue-accent: #8da9c4;
$blue-light: #eef4ed;
