/* navbars */

nav {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 0rem;
    padding: 0 1rem 0 0;
}

container nav ul {
    display: inline-flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

container nav ul li {
    margin: 1rem;
}

container nav ul li a {
    padding: 1rem;
}

container nav.right {
    text-align: end;
}

container nav.right ul li.brand {
    position: absolute;
    left: 3rem;
}

container nav ul li.brand {
    margin: 0;
    padding: 1rem 3rem;
    font-weight: bold;
}

container nav li a {
    color: $dark;
    text-decoration: none;
    margin: -1rem;
}

container nav li a:hover {
    background-color: darken($light, 10%);
    color: lighten($dark, 10%);
}

/* dark navbar  */
container nav.dark ul li a {
    color: $navbar-dark-color;
    text-decoration: none;
    border: 1px;
    padding: repeater($navbar-dark-padding);
    margin: -1rem;
}

container nav.dark ul li a:hover {
    background-color: lighten($dark, 5%);
    color: lighten($light, 5%);
}
